**/.git
**/.vs
**/*.User.props
**/*.User.targets
**/*.*proj.user
**/bin
**/obj
**/tmp
**/*.Development.json
**/secrets.dev.yaml
**/values.dev.yaml
**/.idea/**/contentModel.xml
**/.idea/**/tasks.xml
**/.idea/**/workspace.xml
**/.idea/**/.idea/contentModel.xml
**/.idea/**/shelf
**/Build/libs
**/Build/pub
**/Build/tmp