**/.git
**/.vs
**/*.DotSettings
**/*.User.props
**/*.User.targets
**/*.user
**/bin
**/obj
**/tmp
**/*.Development.json
**/secrets.dev.yaml
**/values.dev.yaml
**/.idea/**/contentModel.xml
**/.idea/**/tasks.xml
**/.idea/**/workspace.xml
**/.idea/**/.idea/contentModel.xml
**/.idea/**/shelf
**/Build/packages
**/Build/pub
**/Build/tmp